.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
}
.search-bar .back {
  cursor: pointer;
}
.search-bar span {
  font-size: 3rem;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  padding-left: 1rem;
  padding-bottom: 0.7rem;
  user-select: none;
}
