@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese:wght@400..700&display=swap");
.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper {
  border: 1px solid white;
  background-color: #ffffff15;
  width: 40%;
  height: 500px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-wrapper h1 {
  font-size: 2rem;
  font-family: "Noto Sans Balinese", sans-serif;
}
.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.auth-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.auth-wrapper div input {
  margin-left: 1rem;
  outline: none;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
}

.auth-wrapper label {
  font-size: 1.5rem;
  font-family: "Noto Sans Balinese", sans-serif;
}
.auth-wrapper form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.auth-wrapper form button {
  cursor: pointer;
  width: 50%;
  margin-left: 7rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-family: "Noto Sans Balinese", sans-serif;
  font-size: 1rem;
}
.auth-wrapper form button:hover {
  background-color: black;
  border: 1px solid white;
  color: #fff;
}
